/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/app.vue?vue&type=style&index=0&id=6fb8108a&lang=scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Righteous);
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/app.vue?vue&type=style&index=0&id=6fb8108a&lang=scss (1) ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
body {
  background-color: #1f1c43;
}
@media (max-width: 414px) {
html {
    min-width: 103vw;
}
}
#app {
  font-family: "Righteous", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
html, body, pre, code, kbd, samp, button, a, input {
  font-family: "Righteous", cursive;
}
.text-center {
  text-align: center;
}
.school-dd {
  overflow-y: auto;
  width: 280px;
  display: table-row;
}
.school-dd .is-primary {
  background-color: #fabc58;
}
.dd-tile .dropdown-menu {
  height: 300px;
  overflow-y: auto;
  width: 280px;
}
.navbar {
  background-color: white;
  height: 130px;
}
.navbar .navbar-burger {
  color: black;
  position: relative;
  top: 30px;
  left: 10px;
}
.navbar.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
}
.footer {
  width: 100%;
  background-color: white;
  color: #0f0d2a;
  padding: 40px 20px;
  font-size: 12px;
  margin-top: 30px;
}
.footer p, .footer strong {
  color: #0f0d2a;
  text-transform: uppercase;
  font-family: "Righteous", cursive;
}
.navbar-brand {
  height: 100px;
  width: 25%;
  position: relative;
  top: 10px;
}
@media (max-width: 1096px) {
.navbar-brand {
    width: 90%;
}
}
.navbar-brand .navbar-item {
  padding-left: 10%;
  max-width: 95%;
}
@media (max-width: 1096px) {
.navbar-brand .navbar-item {
    max-height: 90%;
}
}
.navbar-brand img {
  max-width: 230px;
  max-height: 90%;
  display: block;
  margin: auto;
  box-sizing: unset;
  position: relative;
  left: 0;
}
.navbar-menu {
  background-color: white;
}
.navbar-menu .navbar-item {
  font-size: 19px;
  padding: 25px 15px;
  text-transform: uppercase;
  color: gray;
}
.navbar-menu .navbar-item i {
  color: #00d8cd;
  opacity: 0.6;
}
.navbar-menu .navbar-item.router-link-active {
  color: #0f0d2a;
  background: inherit;
}
.navbar-menu .navbar-item.router-link-active i {
  color: #00d8cd;
}
.navbar-menu .navbar-item:hover {
  background-color: white !important;
}
.navbar-menu .navbar-item .ditem {
  text-transform: capitalize !important;
}
.navbar-menu .close-btn {
  background-color: transparent;
  color: #0f0d2a;
  display: inline-block;
  padding: 0px;
}
.navbar-menu .close-btn span {
  font-size: 11px;
  position: relative;
  top: 6px;
}
.user-name {
  font-size: 12px;
  position: relative;
  right: 40%;
  top: 20px;
}
.user-name .user-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  top: 10px;
}
.user-name .icon {
  position: relative;
  left: 20px;
  top: 5px;
}
#landing-navbar .navbar-start .navbar-item {
  display: block;
}
#landing-navbar .navbar-start .navbar-item span {
  position: relative;
  top: 25px;
}
@media (max-width: 414px) {
#landing-navbar .navbar-start .navbar-item span {
    top: 0px;
}
}
#landing-navbar .tile.no-m {
  margin-bottom: 5px !important;
}
#landing-navbar .buttons .close-btn {
  display: block;
  position: relative;
  bottom: 10px;
  width: 100%;
  text-align: right;
}
#landing-navbar .user-name {
  font-size: 14px;
  display: block;
  width: 100%;
  left: 0;
  top: 0px;
}
#pdf-modal .modal-content {
  height: 80vh;
  max-height: 100vh;
}
#pdf-modal iframe {
  height: 70vh;
  width: 100%;
}
#session-modal section {
  background: #f0f8ff;
  padding: 80px;
}
@media (max-width: 414px) {
#session-modal section {
    padding: 50px;
}
}
#session-modal .short-control {
  width: 150px;
  display: block;
  margin: auto;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/components/playsets.vue?vue&type=style&index=0&id=bfd72910&lang=scss&scoped=true ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-left[data-v-bfd72910] {
  text-align: left;
}
.playsets[data-v-bfd72910] {
  background-color: #221f43;
  background-image: url(/packs/static/fondo-86d5f1ece17185a668fb.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 90vh;
  margin-top: 130px;
}
.playsets[data-v-bfd72910] .modal-content {
  width: 100%;
  background: #0f0d2a;
  color: white;
  padding: 20px;
}
.playsets[data-v-bfd72910] .modal-content strong {
  color: white;
}
.playsets[data-v-bfd72910] .modal-content img {
  max-width: 320px;
  display: block;
  margin: 30px auto;
}
.playsets[data-v-bfd72910] .modal-content .title {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 30px;
}
.playsets[data-v-bfd72910] .modal-content .description {
  padding: 30px;
  text-align: justify;
}
.playsets[data-v-bfd72910] .modal-content button {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  height: 50px;
  padding: 0 30px;
}
.playsets[data-v-bfd72910] .modal-content button .icon {
  padding: 5px 25px;
}
.playsets[data-v-bfd72910] .modal-content button .icon i {
  color: #00d8cd;
  opacity: 0.6;
}
.playsets .bg[data-v-bfd72910] {
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.playsets .bg.bg-1[data-v-bfd72910] {
  background-image: url(/packs/static/carousel1-a315e8f14e1459a61445.jpeg);
}
.playsets .bg.bg-2[data-v-bfd72910] {
  background-image: url(/packs/static/carousel2-8c8b755dedde63d42010.jpeg);
}
.playsets .bg.bg-3[data-v-bfd72910] {
  background-image: url(/packs/static/carousel3-1544b98e611ffc96f05a.jpeg);
}
.playsets .bg.bg-4[data-v-bfd72910] {
  background-image: url(/packs/static/carousel4-47418f4914ade3f7fa57.jpeg);
}
.columns[data-v-bfd72910] {
  padding-top: 20px;
  padding-left: 50px;
}
@media (max-width: 414px) {
.columns[data-v-bfd72910] {
    width: 105%;
    padding-left: 0;
}
}
.playset[data-v-bfd72910] {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #fabc58;
  margin: 10px;
  padding: 0px;
  width: 30%;
  height: 100%;
  opacity: 0.9;
  transition: all 0.6s ease;
  border-radius: 5px;
}
.playset .card[data-v-bfd72910] {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}
.playset .card[data-v-bfd72910]:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.2666666667);
}
.playset .card-header[data-v-bfd72910] {
  height: 60px;
  padding: 10px;
  background-color: #fabc58;
}
.playset .card-image[data-v-bfd72910] {
  min-height: 310px;
  background-color: #fabc58;
}
.playset p[data-v-bfd72910] {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.playset img[data-v-bfd72910] {
  background-color: #fabc58;
  max-height: 280px;
}
.playset[data-v-bfd72910]:hover {
  opacity: 1;
  cursor: pointer;
}
.playset.disabled[data-v-bfd72910] {
  opacity: 0.56;
  cursor: not-allowed;
}
.playset.disabled img[data-v-bfd72910] {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
@media (max-width: 414px) {
.playset[data-v-bfd72910] {
    width: 80%;
    margin: 20px auto;
}
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/components/games.vue?vue&type=style&index=0&id=d6b7fe44&lang=scss&scoped=true ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-left[data-v-d6b7fe44] {
  text-align: left;
}
.games[data-v-d6b7fe44] {
  margin-top: 130px;
  min-height: 100vh;
  background-image: url(/packs/static/fondo-86d5f1ece17185a668fb.png);
  background-repeat: repeat;
  background-size: 400px;
  background-color: #332d6b;
  padding-bottom: 100px;
}
.games .breadcrumb[data-v-d6b7fe44] {
  padding: 10px 80px;
}
.games .breadcrumb a[data-v-d6b7fe44] {
  color: white;
  padding: 0 30px;
}
.games .breadcrumb a .text[data-v-d6b7fe44] {
  padding-left: 10px;
}
.games .breadcrumb li[data-v-d6b7fe44]::before {
  margin-right: 10px;
}
.games .breadcrumb .is-active[data-v-d6b7fe44] {
  color: white;
  padding-left: 30px;
}
.games .is-fullhd[data-v-d6b7fe44] {
  padding: 0 20px;
}
.games .gamelist[data-v-d6b7fe44] {
  max-width: 100%;
  margin-top: 30px;
}
.games .results-container[data-v-d6b7fe44] {
  width: 60%;
  padding: 12px;
  display: block;
  margin: auto;
  position: relative;
  top: 95px;
}
.games .results-container .bg-img[data-v-d6b7fe44] {
  border-right: 10px solid #657f8f;
  background-image: url(/packs/static/sample_juego-4a692714f497ab7ca4a5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.games .results-container ul[data-v-d6b7fe44] {
  text-align: left;
  list-style-type: disc;
  margin-left: 30px;
}
.games .dropdown[data-v-d6b7fe44] {
  width: 100%;
}
.games[data-v-d6b7fe44] .autocomplete {
  width: 70%;
  margin: auto;
}
.games[data-v-d6b7fe44] .dropdown-trigger {
  width: 100%;
}
.games[data-v-d6b7fe44] .dropdown-trigger button {
  width: 100%;
  background-color: rgba(101, 127, 143, 0.7);
}
.games[data-v-d6b7fe44] .input {
  background-color: rgba(101, 127, 143, 0.7);
  border-color: transparent;
}
.games[data-v-d6b7fe44] .input::placeholder {
  color: #ffffff;
}
.games .search-btn[data-v-d6b7fe44] {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
}
.games .menu[data-v-d6b7fe44] {
  height: 100vh;
  padding-top: 40px;
  background: rgba(254, 254, 255, 0.6196078431);
  color: #0f0d2a;
}
.games .menu .menu-list[data-v-d6b7fe44] {
  line-height: 2.25;
  padding-left: 70px;
}
.games .menu .menu-list .menu-label[data-v-d6b7fe44] {
  text-align: left;
  color: #0f0d2a;
}
.games .menu .toggle-all[data-v-d6b7fe44] {
  margin-top: -20px;
  letter-spacing: 1px;
  text-transform: none;
  color: #0f0d2a;
  text-align: left;
}
.games .menu .toggle-all small[data-v-d6b7fe44] {
  cursor: pointer;
  text-decoration: underline;
}
.games .menu[data-v-d6b7fe44] .checkbox {
  width: 100%;
  text-align: left;
}
.games .menu .b-checkbox.checkbox + .checkbox[data-v-d6b7fe44] {
  margin-left: 0;
}
.games .games-grid .game-detail .bg-img[data-v-d6b7fe44] {
  background-image: url(/packs/static/juego-ed697314fde4213dc28f.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 80%;
  margin: auto;
  transition: all 0.2s linear;
  cursor: pointer;
}
.games .games-grid .game-detail .bg-img[data-v-d6b7fe44]:hover {
  opacity: 0.8;
}
.games .games-grid .game-detail .bg-img:hover a[data-v-d6b7fe44] {
  opacity: 0.9;
  background: #657f8f;
  color: #ffffff;
}
.games .games-grid .game-detail a[data-v-d6b7fe44] {
  position: relative;
  top: 230px;
  background: white;
  width: 100%;
  display: block;
  opacity: 0.85;
  height: 70px;
  padding: 22px;
  transition: all 0.2s linear;
}
.games .games-grid .game-detail .card[data-v-d6b7fe44] {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  background-color: white;
  margin: 10px;
  margin-bottom: 0;
  padding: 0px;
  height: 310px;
  opacity: 1;
  transition: all 0.6s ease;
  border-radius: 5px;
  cursor: pointer;
}
.games .games-grid .game-detail .card[data-v-d6b7fe44]:hover {
  opacity: 0.6;
}
.games .games-grid .game-detail .card .card-header[data-v-d6b7fe44] {
  border-radius: 5px;
  height: 60px;
  padding: 10px;
  background-color: #fabc58;
  height: 20%;
}
.games .games-grid .game-detail .card .card-image[data-v-d6b7fe44] {
  height: 80%;
}
.games .games-grid .game-detail .card .card-image .image[data-v-d6b7fe44] {
  height: 100%;
}
.games .games-grid .game-detail .card .card-image img[data-v-d6b7fe44] {
  max-height: 100%;
}
.games .games-grid .game-detail .card p[data-v-d6b7fe44] {
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 40px;
}
.games .games-grid .t[data-v-d6b7fe44] {
  width: 100%;
  font-size: 13px;
  color: white;
}
.games[data-v-d6b7fe44] .modal-content {
  width: 100%;
  background: #0f0d2a;
  color: white;
  padding: 20px;
}
.games[data-v-d6b7fe44] .modal-content strong {
  color: white;
}
.games[data-v-d6b7fe44] .modal-content .paralem {
  display: inline-block;
  width: 110px;
  height: 30px;
  margin: 10px;
  border-left: 6px solid;
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
}
.games[data-v-d6b7fe44] .modal-content .paralem p {
  position: relative;
  top: 2px;
  color: #ffffff;
  font-weight: bolder;
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
}
.games[data-v-d6b7fe44] .modal-content img {
  max-width: 320px;
  display: block;
  margin: 30px auto;
}
.games[data-v-d6b7fe44] .modal-content .title {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 30px;
}
.games[data-v-d6b7fe44] .modal-content .description {
  padding: 30px;
}
.filter-container[data-v-d6b7fe44] {
  position: fixed;
  bottom: 20px;
  left: 30px;
  height: 100px;
  width: 100px;
  background-color: #302b63;
  border-radius: 100%;
  display: block;
}
.filter-container button[data-v-d6b7fe44] {
  display: block;
  margin: auto;
  position: relative;
  top: 25px;
  right: 10px;
  left: 2px;
  font-size: 50px;
  background: transparent;
  border: 0;
  color: white;
  text-align: center;
  outline: 0;
  cursor: pointer;
  opacity: 1;
}
.filter-container button[data-v-d6b7fe44]:hover {
  opacity: 0.7;
}
.card-image img[data-v-d6b7fe44] {
  max-width: 320px;
  display: block;
  margin: auto;
}
iframe[data-v-d6b7fe44] {
  width: 100%;
  height: 300px;
}
.lds-dual-ring[data-v-d6b7fe44] {
  margin-top: 150px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring[data-v-d6b7fe44]:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-dual-ring-d6b7fe44 1.2s linear infinite;
}
@keyframes lds-dual-ring-d6b7fe44 {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/components/game.vue?vue&type=style&index=0&id=0cef3ce5&lang=scss&scoped=true ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-left[data-v-0cef3ce5] {
  text-align: left;
}
.game[data-v-0cef3ce5] {
  margin-top: 130px;
  min-height: 1250px;
  background-image: url(/packs/static/fondo-86d5f1ece17185a668fb.png);
  background-repeat: repeat;
  background-size: 400px;
  background-color: white;
  padding-bottom: 100px;
}
.game img[data-v-0cef3ce5] {
  width: 450px;
}
.game .game-img[data-v-0cef3ce5] {
  border-image: url(/packs/static/marco1-a7b5d748bb8c18a727cb.png) 80 80 80 80 stretch stretch;
  border-style: inset;
  border-width: 50px;
}
.game .container[data-v-0cef3ce5] {
  padding-top: 30px;
  color: #221f43;
}
.game .container p[data-v-0cef3ce5], .game .container strong[data-v-0cef3ce5] {
  color: #221f43;
}
.game .container iframe[data-v-0cef3ce5] {
  border-image: url(/packs/static/marco_video-6922f1a8e18f3b7a056b.png) 80 80 80 80 stretch stretch;
  border-style: inset;
  border-width: 34px;
  width: 90%;
  height: 350px;
}
.game .container .description[data-v-0cef3ce5] {
  text-align: justify;
}
.game .container .content[data-v-0cef3ce5] {
  padding: 20px;
}
.game .difficulty[data-v-0cef3ce5] {
  padding: 0;
  margin: auto;
}
.game .difficulty p[data-v-0cef3ce5] {
  text-align: end;
  text-transform: uppercase;
  position: relative;
  top: 15px;
}
@media (max-width: 768px) {
.game .difficulty p[data-v-0cef3ce5] {
    top: -5px;
    text-align: center;
}
}
.game .difficulty .column[data-v-0cef3ce5] {
  padding: 0;
}
.game .difficulty-img[data-v-0cef3ce5] {
  height: 50px;
  width: auto;
  text-align: end;
}
.game .transparent[data-v-0cef3ce5] {
  background: transparent;
}
.game .print-img-button[data-v-0cef3ce5] {
  margin-top: 100px;
  width: 250px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.game .print-img-button[data-v-0cef3ce5]:hover {
  opacity: 0.8;
}
.game .teacher-button[data-v-0cef3ce5] {
  width: 360px;
  margin-bottom: 100px;
  display: block;
  margin-top: 110px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.game .teacher-button[data-v-0cef3ce5]:hover {
  opacity: 0.8;
}
.game .banner[data-v-0cef3ce5] {
  padding-bottom: 30px;
}
.game .banner img[data-v-0cef3ce5] {
  width: 300px;
}
.game .banner .text-list[data-v-0cef3ce5] {
  margin: auto;
}
.game .banner .column[data-v-0cef3ce5] {
  margin: auto;
}
.game .breadcrumb .navbar-item[data-v-0cef3ce5] {
  min-width: 200px;
}
.game .breadcrumb a[data-v-0cef3ce5] {
  width: 100%;
  display: revert;
  color: #221f43;
}
.game .breadcrumb a .text[data-v-0cef3ce5] {
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.game .breadcrumb li[data-v-0cef3ce5]::before {
  margin-right: 10px;
}
.game p.title[data-v-0cef3ce5] {
  color: #5f45bf;
  font-size: 30px;
}
.game p.how[data-v-0cef3ce5] {
  text-transform: uppercase;
  color: #5f45bf;
  font-size: 18px;
}
.game .content p[data-v-0cef3ce5] {
  text-align: left;
}
.game .content strong[data-v-0cef3ce5] {
  text-transform: uppercase;
  color: #221f43;
  font-weight: 300;
}
@media print {
.no-print[data-v-0cef3ce5] {
    display: none !important;
}
}
.games-grid[data-v-0cef3ce5] {
  margin-top: 50px;
}
.games-grid .game-detail .bg-img[data-v-0cef3ce5] {
  background-image: url(/packs/static/juego-ed697314fde4213dc28f.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 80%;
  margin: auto;
  transition: all 0.2s linear;
  cursor: pointer;
}
.games-grid .game-detail .bg-img[data-v-0cef3ce5]:hover {
  opacity: 0.8;
}
.games-grid .game-detail .bg-img:hover a[data-v-0cef3ce5] {
  opacity: 0.9;
  background: #657f8f;
  color: #ffffff;
}
.games-grid .game-detail a[data-v-0cef3ce5] {
  position: relative;
  top: 230px;
  background: white;
  width: 100%;
  display: block;
  opacity: 0.85;
  height: 70px;
  padding: 22px;
  transition: all 0.2s linear;
}
.games-grid .game-detail .card[data-v-0cef3ce5] {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  margin: 10px;
  margin-bottom: 0;
  padding: 0px;
  height: 310px;
  opacity: 1;
  transition: all 0.6s ease;
  border-radius: 5px;
  cursor: pointer;
}
.games-grid .game-detail .card[data-v-0cef3ce5]:hover {
  opacity: 0.6;
}
.games-grid .game-detail .card .card-header[data-v-0cef3ce5] {
  border-radius: 5px;
  height: 60px;
  padding: 10px;
  background-color: #332d6b;
  height: 20%;
}
.games-grid .game-detail .card .card-image[data-v-0cef3ce5] {
  height: 80%;
}
.games-grid .game-detail .card .card-image .image[data-v-0cef3ce5] {
  height: 100%;
}
.games-grid .game-detail .card .card-image img[data-v-0cef3ce5] {
  max-height: 100%;
}
.games-grid .game-detail .card p[data-v-0cef3ce5] {
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 20px;
}
.games-grid .t[data-v-0cef3ce5] {
  width: 100%;
  margin-top: 30px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}
.capitalized[data-v-0cef3ce5] {
  text-transform: capitalize;
}
.game-pdf-btn[data-v-0cef3ce5] {
  padding: 20px;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 11px;
}
.session-btn[data-v-0cef3ce5] {
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 11px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/components/stats.vue?vue&type=style&index=0&id=47451888&lang=scss&scoped=true ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-left[data-v-47451888] {
  text-align: left;
}
.stats[data-v-47451888] {
  margin-top: 140px;
  background-color: #221f43;
  color: white;
  min-height: 90vh;
}
.columns[data-v-47451888] {
  padding-top: 40px;
}
@media (max-width: 414px) {
.columns[data-v-47451888] {
    width: 105%;
}
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/components/experiences.vue?vue&type=style&index=0&id=1d57c6a6&lang=scss&scoped=true ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-left[data-v-1d57c6a6] {
  text-align: left;
}
.experiences[data-v-1d57c6a6] {
  margin-top: 140px;
  background-color: #221f43;
  padding: 40px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-6.use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-6.use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-6.use[3]!./node_modules/vue-loader/lib/index.js??vue-loader-options!./app/javascript/components/resources.vue?vue&type=style&index=0&id=6360a07c&lang=scss&scoped=true ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-left[data-v-6360a07c] {
  text-align: left;
}
.experiences[data-v-6360a07c] {
  margin-top: 130px;
  background-color: #221f43;
  padding: 40px;
  min-height: 70vh;
}

/*# sourceMappingURL=application.css.map*/